<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="AdminPasswordDlg" Width="370" Height="270" Title="Auth0 AD LDAP Connector">
                <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Finish">
                    <!-- Clear any previous error -->
                    <Publish Event="SetProperty" Property="ADMIN_PASSWORD_ERROR" Value="" Order="1">1</Publish>
                    <!-- Client-side: required -->
                    <Publish Event="SetProperty" Property="ADMIN_PASSWORD_ERROR" Value="Password is required." Order="2">ADMIN_PASSWORD = ""</Publish>
                    <!-- Client-side: match -->
                    <Publish Event="SetProperty" Property="ADMIN_PASSWORD_ERROR" Value="Passwords do not match. Please try again." Order="3"><![CDATA[ADMIN_PASSWORD <> "" AND ADMIN_PASSWORD <> ADMIN_PASSWORD_CONFIRM]]></Publish>
                    <!-- Validate strength, hash, write pending file (updates ADMIN_PASSWORD_ERROR) -->
                    <Publish Event="DoAction" Value="StoreAdminPassword" Order="4"><![CDATA[ADMIN_PASSWORD <> "" AND ADMIN_PASSWORD = ADMIN_PASSWORD_CONFIRM]]></Publish>
                    <!-- Only exit if no error -->
                    <Publish Event="EndDialog" Value="Return" Order="5">ADMIN_PASSWORD_ERROR = ""</Publish>
                </Control>
                <Control Id="Skip" Type="PushButton" X="304" Y="243" Width="56" Height="17" Text="Skip">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Admin Console Password" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Set a password to protect the Admin Console web interface." />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="PasswordLabel" Type="Text" X="20" Y="60" Width="330" Height="10" NoPrefix="yes" Text="Password:" />
                <Control Id="PasswordEdit" Type="Edit" X="20" Y="73" Width="330" Height="18" Property="ADMIN_PASSWORD" Password="yes" />

                <Control Id="ConfirmLabel" Type="Text" X="20" Y="100" Width="330" Height="10" NoPrefix="yes" Text="Confirm Password:" />
                <Control Id="ConfirmEdit" Type="Edit" X="20" Y="113" Width="330" Height="18" Property="ADMIN_PASSWORD_CONFIRM" Password="yes" />

                <Control Id="ErrorLabel" Type="Text" X="20" Y="145" Width="330" Height="20" NoPrefix="yes" Text="[ADMIN_PASSWORD_ERROR]">
                    <Condition Action="hide">ADMIN_PASSWORD_ERROR = ""</Condition>
                    <Condition Action="show"><![CDATA[ADMIN_PASSWORD_ERROR <> ""]]></Condition>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>